@import "./../helpers";

.FOMA {
  display: flex;
  justify-content: space-between;
  padding: 90px 0 0 7vw;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  .main-container {
    padding-left: 10px;
    color: rgb(16, 104, 42);
    line-height: 24px;
    align-items: center;
    .list {
      list-style-type: none;
    }
    .btn-left {
      @include btnStyle(white, #003412, 160px, 51px);
    }
  }
  .bg-pic-container {
    background-image: url("./../../images/dinny6_n.png");
    background-repeat: no-repeat;
    border-radius: 0px 0px 0px 10px; /* background-color: green; */
    width: 690px;
    height: 520px;
    .transparent {
      border-radius: 0px 0px 0px 10px;
      width: 690px;
      height: 456px;
      background-color: rgba(26, 41, 10, 0.63);
      position: relative;
      .img {
        position: absolute;
        top: 233px;
      }
    }
  }
}

// Media queries

@media (max-width: 1200px) {
  .FOMA .bg-pic-container {
    width: 100%;
    max-width: 680px;
    height: 490;
  }

  .FOMA .bg-pic-container .transparent {
    width: 100%;
    max-width: 700px;
    height: 456px;
  }
}
@media (max-width: 900px) {
  .FOMA {
    display: flex;
    padding: 0 100px;
    flex-direction: column;
    gap: 1rem;
  }
  .FOMA .main-container {
    width: 100%;
    // border: 2px solid black;
    text-align: center;
    padding-top: 40px;
  }
  .FOMA .main-container li,
  .FOMA .main-container p {
    text-align: left;
    padding: 0;
    font-size: 15px;
  }

  /* .FOMA .bg-pic-container {
    max-width: 90%;
    height: auto;
  } */
}
@media (max-width: 662px) {
  .FOMA {
    display: flex;
    padding: 0 5px;
    flex-direction: column;
    gap: 1rem;
  }
  .FOMA .bg-pic-container {
    background-position: center;
  }
  .FOMA .main-container h1 {
    font-size: 30px;
  }
}
